<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> welcome to Ultimate Pet</h1>
    <h3>Your email is: <%= @email %></h3>
    <p>Thank you for registering on groopifyPetBattlel.com</p>
  </body>
</html>